{% load static %}

<style>
    /* Calendar container */
    .calendar-container {
    display: grid;
   grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    height: auto;
    width: 100%;
    }

    /* Day name headers */
    .day-name {
    font-weight: bold;
    text-align: center;
    padding: 6px 0;
    color: black;
    background-color: #f0f0f0;
    border-radius: 6px;
    border: 1px solid #ddd;
    }

    /* Calendar day cells */
    .day-cell {
        padding: 10px 0;
        text-align: center;
        border-radius: 6px;
        min-height: 50px;
        font-size: medium;
        line-height: 1.2;
        font-weight: bold;
        border: 1px solid #ddd;
    }

.holiday-day { border: 3px solid purple; color: #555; }
.leave-day { border: 3px solid yellow; color: #555; }
.present-day { border: 3px solid green; color: #555; }
.half-day { border: 3px solid orange; color: #555; }
.absent-day { border: 3px solid red; color: #555; }
.today { border: 3px solid blue; color: #000; }
.empty { background-color: transparent; border: none; }
    
    /* Responsive text for mobile */
    @media (max-width: 480px) {
        .day-cell { min-height: 40px; padding: 5px 0; font-size: 0.85rem; }
        .day-name { font-size: 0.85rem; padding: 3px 0; }
    }
</style>
<div class="calendar-container">
  {% for day_name in day_names %}
    <div class="day-name">{{ day_name }}</div>
  {% endfor %}

  {% for week in calendar_with_status %}
    {% for day, status in week %}
      {% if day == 0 %}
        <div class="day-cell empty"></div>
      {% else %}
        {% if day == today_day and cal_month == today_month and cal_year == today_year %}
          <div class="day-cell today" title="Today">{{ day }}</div>
        {% elif status == "Present" %}
          <div class="day-cell present-day" title="Present">{{ day }}</div>
        {% elif status == "Half-Day" %}
          <div class="day-cell half-day" title="Checked In Only">{{ day }}</div>
        {% elif status == "Absent" %}
          <div class="day-cell absent-day" title="Absent">{{ day }}</div>
        {% elif status == "Holiday" %}
          <div class="day-cell holiday-day" title="Holiday">{{ day }}</div>
        {% elif status == "Leave" %}
          <div class="day-cell leave-day" title="Leave">{{ day }}</div>
        {% else %}
          <div class="day-cell">{{ day }}</div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
